/* SilverWare Calendar Admin Mixins
===================================================================================================================== */

@mixin vertical-align($position: relative) {
  top: 50%;
  position: $position;
  transform: translateY(-50%);
}
